<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque odit 
                laboriosam asperiores quisquam reprehenderit, atque laborum facilis aliquam iure 
                magni! Suscipit similique praesentium facere nostrum quis adipisci consequatur. 
                Consequatur eligendi reprehenderit tenetur eveniet corporis ex expedita nam doloremque 
                temporibus, accusantium labore sequi asperiores, animi consectetur mollitia ea quaerat 
                dolores.</p>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>