<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <header class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="https://cdnb.artstation.com/p/assets/images/images/042/973/619/large/daniel-fischer-a-logo-1.jpg?1635947481" alt="Logo" class="w-25 rounded-circle">
            <h1 class="display-1 my-5 text-uppercase fw-bold">Random empress</h1>
            <a href="/about" class="btn btn-primary w-25">About</a>
        </div>
    </header>

    <%- include('partials/footer') %>
</body>
</html>